$standardPaddingUnit: 2rem;
$lightGrey: #ebebeb;
$styleSelectorDiameter: 75px;
$standardColor: #454545;
$standardBorder: 1px solid $standardColor;

#product-overview {
  color: $standardColor;

  .red {
    color: red;
  }

  .light {
    font-weight: 200;
  }

  .clickable {
    cursor: pointer;
  }

  .stars-container {
    padding-top: 4px;
    margin-right: 10px;
  }

  .canceled-price {
    span:nth-of-type(1) {
      text-decoration: line-through;
      margin-right: 10px;
    }

    span:nth-of-type(2) {
      color: red;
    }
  }

  .bg-image {
    background-position: center;
    background-size: cover;
  }

  #announcement-banner {
    p {
      font-size: 0.75rem;
      text-align: center;
      text-transform: uppercase;
      padding: 20px 30px;
    }
  }

  #product-main {
    display: flex;

    &.fullscreen {
      height: 90vh;

      #product-image {
        width: 100%;
      }

      #product-details {
        width: 0px;
        display: none;
      }
    }

    #product-image {
      display: flex;
      background-color: $lightGrey;
      min-height: 650px;
      padding: $standardPaddingUnit;
      flex: 1 0 60%;

      &:hover {
        cursor: zoom-in;
      }

      &.fullscreen:hover {
        cursor: crosshair;

        &.zoomed {
          --x: 0%;
          --y: 0%;
          background-position: var(--x) var(--y);
          background-size: fit;
          transform: scale(2.5);
          cursor: zoom-out;
          overflow: hidden;
          position: fixed;
          top: 0;
          left: 0;
          min-width: 100vw;
          min-height: 100vh;
        }
      }

      #image-list {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .image-alt-scroll {
          display: flex;
          justify-content: center;
          font-size: 1.5rem;

          &.up {
            margin-bottom: 10px;
          }
        }

        #images {
          display: flex;
          flex-direction: column;
          height: 100%;
          width: 55px;
          max-height: 72px * 7;
          overflow-y: hidden;
          scroll-behavior: smooth;

          .alt-image {
            height: 55px;
            width: 55px;
            background-color: white;
            border: $standardBorder;
            cursor: pointer;
            margin-bottom: 3px;
          }

          .image-icon,
          .selected-image-icon {
            display: none;
            font-size: 2em;
            cursor: pointer;
          }

          .bottom-line {
            height: 4px;
            background-color: transparent;
            margin-bottom: 10px;
          }

          .selected {
            .bottom-line {
              background-color: $standardColor;
            }
          }
        }

        &.collapsed {
          .image-alt-scroll {
            display: none;
          }

          #images {
            justify-content: center;

            .alt-image {
              display: none;
            }

            .image-icon {
              display: block;
            }

            .bottom-line {
              display: none;
            }

            .selected-image-icon {
              display: none;
            }

            .image-icon {
              display: block;
            }

            .selected {
              .selected-image-icon {
                display: block;
              }

              .image-icon {
                display: none;
              }
            }
          }
        }
      }

      #image-controls {
        padding-left: $standardPaddingUnit;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        font-size: 1.5rem;

        & > * {
          width: 100%;
        }

        #fullscreen-toggle {
          display: flex;
          justify-content: flex-end;
        }

        #image-arrows {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-grow: 1;
        }
      }
    }

    #product-details {
      flex: 0 1 40%;
      padding: $standardPaddingUnit;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      p {
        font-weight: 200;
        text-transform: uppercase;

        &.bold {
          font-weight: 700;
        }
      }

      & > div {
        &.horizontal {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
        }

        &.group {
          margin-bottom: 0.5rem;

          .style-selector-wrapper {
            width: calc(25% - 1rem);
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        &.gapped {
          gap: 1rem;
        }

        &.stretch {
          justify-content: stretch;

          & > *:nth-of-type(1) {
            flex-grow: 1;
          }
        }
      }

      .style-selector {
        height: $styleSelectorDiameter;
        width: $styleSelectorDiameter;
        border-radius: 50px;
        background-color: $lightGrey;
        border: $standardBorder;
        display: flex;
        justify-content: flex-end;

        .selected-check {
          display: none;
        }

        &.selected {
          .selected-check {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            border: $standardBorder;
            width: 18px;
            height: 18px;
            border-radius: 18px;
            font-size: 0.75rem;
          }
        }
      }

      .control-wrapper {
        border: $standardBorder;
        padding: 0 1rem;
        height: 50px;
        display: flex;
        align-items: center;

        &.button {
          cursor: pointer;
        }

        & > * {
          width: 100%;
        }
      }
    }
  }

  #product-extra > div {
    padding: $standardPaddingUnit * 1.5;
    display: flex;
    justify-content: center;

    #product-description {
      border-right: $standardBorder;
      border-width: 2px;
      flex-direction: column;
    }

    & > div {
      padding: 0 $standardPaddingUnit;
    }

    p {
      font-size: 0.8rem;
      font-weight: 300;
      margin-bottom: 1rem;
    }

    #product-description {
      flex-basis: 60%;

      #description-title {
        font-size: 1rem;
        font-weight: bold;
      }
    }

    #product-features {
      flex-basis: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.5rem;

      .feature {
        display: flex;
        gap: 0.5rem;
        align-items: center;

        .check {
          font-size: 1.2rem;
          font-weight: 700;
        }
      }
    }
  }
}
