/* WRAPPER */
#qa-wrapper {
  background: white;
  display: flex;
  flex-direction: column;
  // flex-wrap: no-wrap;
  align-content: space-around;
  padding: 0 80px;

  /* HEADER */
  #QAHeader {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  /* SEARCH */
  #search {
    display: flex;
    margin-bottom: 1rem;
  }

  #search input {
    width: 100%;
    height: 3rem;
    color: black;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    background: url('https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg') no-repeat right;
    background-size: 20px 20px;
    background-position: 97%;
  }

  #search img {
    height: 10%;
    width: 5%;
  }

  #search ::placeholder {
    color: black;
    font-weight: bold;
    padding-left: 5px;
  }

  /* LIST */
  #list {
    display: grid;
    grid-template-columns: 70% 30%;
  }

  #qa-list {
    overflow-y: auto;
    max-height: 75vh;
  }

  .answer-wrapper {
    overflow-y: auto;
    max-height: 50vh;
  }

  .question {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }

  .answer-container {
    display: flex;
    flex-direction: column;
  }

  .answer {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    color: rgb(82, 82, 82);
    font-size: 0.88rem;
  }

  .answer-body {
    font-size: 1rem;
    color: black;
    margin-right: 2px;
  }

  .answer-photos {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-left: 1.4rem;
    margin-bottom: 5px;
  }

  .answer-photo {
    margin-right: 0.5rem;
  }

  .answer-photo-thumbnail {
    margin-right: 0.5rem;
    cursor: pointer;
  }

  .answer-helpful {
    cursor: pointer;
  }

  .report-answer {
    cursor: pointer;
  }

  .question-helpful {
    cursor: pointer;
  }

  .report-question {
    cursor: pointer;
  }

  .signature-helpful-report {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: rgb(121, 121, 121);
    font-size: .7rem;
    margin-bottom: 1rem;
    margin-left: 1.4rem;
  }

  .author-date {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
  }

  .qhelpful-addanswer {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    color: rgb(121, 121, 121);
    font-size: .7rem;
    margin-bottom: 1rem;

  }

  .load-more-answers {
    color: rgb(65, 65, 65);
    font-size: .7rem;
    margin-bottom: 1rem;
    margin-left: 1.4rem;
    cursor: pointer;
  }

  /* BUTTONS */
  #buttons {
    margin-top: -20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  #buttons button {
    cursor: pointer;
  }

  #more-answered-qs {
    align-self: flex-start;
    order: 3;
    margin-top: 2rem;
    margin-right: 20px;
    font-weight: bold;
    color: #292929;
    background-color: white;
    border: 1px solid #292929;
    border-radius: 0;
    padding: 1.5em 2em;
    &:hover {
      background-color: lightgray;
    }
    &:active {
      background-color: lightslategrey;
    }
  }

  #addq {
    align-self: flex-end;
    order: 2;
    margin-top: 2rem;
    margin-right: 20px;
    font-weight: bold;
    color: #292929;
    background-color: white;
    border: 1px solid #292929;
    border-radius: 0;
    padding: 1.5em 2em;
    &:hover {
      background-color: lightgray;
    }
    &:active {
      background-color: lightslategrey;
    }
  }

  /* MODAL */
  .modal {
    display: none;
    position: fixed;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-q {
    display: none;
    position: fixed;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-content {
    position: relative;
    background-color: white;
    color: black;
    padding: 20px;
    margin: auto;
    width: 50%;
    border: 1px solid gray;
  }

  .modal-content input[type=text] {
    width: 40%;
  }

  .modal-content button {
    margin-top: 2rem;
    margin-right: 20px;
    font-weight: bold;
    color: #292929;
    background-color: white;
    border: 1px solid #292929;
    border-radius: 0;
    padding: 1.5em 2em;
    &:hover {
      background-color: lightgray;
    }
    &:active {
      background-color: lightslategrey;
    }
  }

  .modal-content p {
    font-weight: bold;
    padding-bottom: 10px;
  }


  .modal-content .subtitle {
    padding-bottom: 10px;
  }

  .modal-content textarea {
    font-family: inherit;
    width: 50%;
    vertical-align: middle;
    margin-bottom: 10px;
    background: none;
    overflow: auto;
    padding: 10px;
  }

  .close-btn {
    float: right;
    color: lightgray;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }

  .close-btn:hover {
    color: darkgray;
  }

  .add-answer {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  #add-question {
    display: flex;
    flex-direction: column;
  }

  #add-answer {
    display: flex;
    flex-direction: column;
  }
}
