.stars-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'stars';
  width: 80px;

  .inner-stars-container {
    grid-area: stars;
    white-space: nowrap;
    overflow: hidden;
  }

  .outer-stars-container {
    grid-area: stars;
    @media (prefers-color-scheme: dark) {
      color: #5d5d5d;
    }
  }

  .inner-star {
    color: goldenrod;
    @media (prefers-color-scheme: dark) {
      color: #C596FC;
    }
  }
}