.stars-container {
  width: 80px;

  .inner-stars-container {
    white-space: nowrap;
    overflow: hidden;
  }

  .outer-stars-container {
    position: absolute;
  }

  .inner-star {
    color: goldenrod;
  }
}