  // $accentColor: #C596FC;
  $accentColor: #1ADECB;

  #reviews-section {
    color: #292929;
    margin-top: 20px;
    @media (prefers-color-scheme: dark) {
      color: #eee;
    }

    #review-section-title {
      padding: 0 80px;
    }

    #reviews-wrapper {
      display: grid;
      grid-template-columns: 25% 1fr;
      grid-gap: 50px;
      margin-top: 20px;
      padding: 0 80px;
    }

    .large-avg-review {
      font-size: 4rem;
      line-height: .75em;
      font-weight: 600;
      padding: 0;
    }

    #avg-reviews-container {
      display: grid;
      grid-template-columns: 100px 1fr;
      margin-bottom: 20px;
    }

    #avg-stars-container {
      padding-top: .25rem;
    }

    #percent-recommended {
      margin-top: 20px;
      font-size: .85rem;
    }

    #sort-reviews {
      margin-bottom: 1rem;
      font-weight: bold;
    }

    .review-content {
      margin-top: .8rem;
      border-bottom: 1px solid rgb(121, 121, 121);
      .outer-stars-container {
        position: relative;
        top: 19px
      }

      .review-content-method {
        margin-left: 10px;
        text-decoration: underline;
        cursor: pointer;
      }

      .review-content-separator {
        margin-left: 10px;
      }

      .review-show-more {
        font-weight: bold;
        font-size: .85em;
        margin-bottom: 2rem;
        cursor: pointer;
        text-decoration: underline;
        color: #292929;
        @media (prefers-color-scheme: dark) {
          color: #5d5d5d;
        }
      }
    }

    .review-summary {
      font-weight: bold;
      margin: 1rem 0;
    }

    .review-body {
      font-size: .85rem;
      margin-bottom: 1rem;
    }

    .helpful {
      color: #292929;
      font-size: .7rem;
      margin-bottom: 1rem;
      @media (prefers-color-scheme: dark) {
        color: $accentColor;
      }
    }

    .review-content-top-section {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .review-content-user-and-date {
      color: #292929;
      font-size: .85rem;
      place-self: end;
      @media (prefers-color-scheme: dark) {
        color: #eee;
      }
    }

    .review-content-wrapper {
      overflow-y: auto;
      height: 75vh;
    }

    .btn, .review-form-row > .btn {
      margin-top: 2rem;
      margin-right: 20px;
      margin-bottom: 80px;
      font-weight: bold;
      color: #292929;
      background-color: white;
      border: 1px solid #292929;
      border-radius: 0;
      padding: 1.5em 2em;
      &:hover {
        background-color: lightgray;
      }
      &:active {
        background-color: lightslategrey;
      }

      @media (prefers-color-scheme: dark) {
        background-color: $accentColor;
        &:hover {
          background-color: #cba9f5;
        }
        &:active {
          background-color: #9b52f5
        }
      }
    }

    .review-form-row > .btn {
      width: 175px;
    }

    #ratings-breakdown-wrapper {
      margin-top: 30px;
      display: grid;
      grid-template-rows: repeat(5, 1fr);

      .reviews-number {
        font-size: .85rem;
      }
    }

    .ratings-breakdown-row {
      display: grid;
      height: 1.75rem;
      align-items: center;
      grid-template-columns: 55px 200px 1fr;
    }

    .reviews-number-link {
      text-decoration: underline;
      &:hover {
        background-color: lightgray;
      }
    }

    .light-bar {
      width: 100%;
      height: 8px;
      background-color: rgb(185, 185, 185);
      @media (prefers-color-scheme: dark) {
        background-color: #5d5d5d;
      }

    }

    .dark-bar {
      height: 8px;
      background-color: rgb(1, 160, 1);
      @media (prefers-color-scheme: dark) {
        background-color: $accentColor;
      }
    }

    .review-label {
      margin-left: 5px;
      font-size: .85rem;
      place-self: center center;
    }

    .reviews-sort-dropdown {
      border: none;
      border-bottom: 1px solid;
      font-size: 1rem;
      font-weight: bold;
      &:focus {
        outline: none;
      }
      @media (prefers-color-scheme: dark) {
        background-color: #212121;
        color: #eee;
      }
    }

    .filters-used {
      font-size: .85rem;
      margin-top: 1rem;
    }

    .clear-filters {
      text-decoration: underline;
      margin-top: 1rem;;
    }

    .filter-title {
      margin-top: 5px;
    }

    #reviews-recommended {
      font-size: .85rem;
      margin-bottom: 1rem;
      @media (prefers-color-scheme: dark) {
        color: #eee;
        .checkMark {
          fill: #eee !important;
          color: #eee !important;
          stroke: #eee !important;
        }
      }
    }

    #reviews-response {
      background-color: lightgray;
      font-size: .85rem;
      padding: 1rem;
      margin-bottom: 1rem;
      @media (prefers-color-scheme: dark) {
        background-color: #3d3d3d;
      }
    }

    #response-header {
      margin-bottom: 1rem;
      font-weight: bold;
    }

    #response-content {
      font-size: .85rem;
    }

    #product-breakdown-wrapper {
      margin-top: 2rem;
      width: 100%;
      font-size: .85rem;

      .breakdown-meaning-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: .7rem;
      }

      .breakdown-meaning-3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        font-size: .7rem;
      }

      .breakdown-comfort-icon {
        margin-bottom: 1rem;
      }

      .breakdown-middle {
        place-self: center;
      }

      .breakdown-last {
        place-self: end;
      }

      .breakdown-icon-wrapper {
        display: grid;
        align-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "overlap";
      }

      .breakdown-icon-holder {
        grid-area: overlap;
        width: 100%
      }

      .breakdown-icon {
        position: relative;
        width: 20px;
        @media (prefers-color-scheme: dark) {
          color: $accentColor;
        }
      }


      .breakdown-bar-wrapper-2 {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 3fr 1fr;
        grid-gap: 3px;
        grid-area: overlap;
        align-self: center;
      }

      .breakdown-bar-wrapper-3 {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3px;
        grid-area: overlap;
        align-self: center;
      }

      .breakdown-bar {
        height: 8px;
        background-color: #B9B9B9;
        @media (prefers-color-scheme: dark) {
          background-color: #5d5d5d;
        }
      }

      .breakdown-characteristic {
        margin-bottom: 1.5rem;
      }

    }

    .reviews-thumbnail, .previews-thumbnail {
      max-height: 75px;
      max-width: 75px;
      margin: 15px;
    }

    #reviews-fullscreen-image-wrapper, #review-form-wrapper {
      display: grid;
      grid-template-rows: auto;
      height: 100%;
      width: 100%;
      position: fixed;
      padding: 50px;
      z-index: 1;
      left: 0;
      top: 0;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0, 0.9);
      overflow-x: auto;
    }

    #reviews-image-holder {
      display: grid;
      place-self: center center;
    }

    #close-image, #close-form {
      font-size: 2rem;
      color: ghostwhite;
      place-self: start;
      cursor: pointer;
    }

    #ratings-image {
      place-self: center center;
      padding-bottom: 50px;
      padding-right: 50px;
      margin-top: 20px;
    }

    .review-form {
      background-color: white;

      input {
        padding: 5px;
      }

      .review-form-row {
        margin: 20px 0;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-gap: 10px;
      }

      .review-form-extra-info {
        font-size: .85rem;
      }

      .attributes-row {
        display: grid;
        width: 75%;
        font-size: .85rem;
        grid-template-columns: repeat(5, 1fr);
        justify-items: center;
      }

      .radio {
        margin-left: 1rem;
      }

      .label {
        place-self: start end;
        font-weight: bold;
      }

      .review-text {
        width: 85%;
      }

      .review-text-body {
        width: 85%;
        height: 6rem;
      }

      .text-input {
        place-self: start;
      }

      #nickname {
        width: 25%;
      }

      #email {
        width: 50%;
      }

      #form-star-wrapper {
        display: grid;
        grid-template-columns: 130px 1fr;
        align-items: center;
      }

      .form-star {
        text-shadow: 0 0 3px #000;
        stroke: black;
        stroke-width: 50;
      }

      .form-star-radio {
        display: none;
      }

      .form-stars-text {
        font-size: .85rem;
      }

      .error-wrapper {
        color: red;
      }

      .error-list {
        margin-left: 2rem;
        margin-top: 1rem;
      }
    }
  }
