  #reviews-section {
    color: #292929;
    margin-top: 20px;
    border: 1px dotted green; // remove later

    #review-section-title {
      padding: 0 80px;
    }

    #reviews-wrapper {
      display: grid;
      grid-template-columns: 25% 1fr;
      grid-gap: 50px;
      margin-top: 10px;
      padding: 0 80px;
    }

    .large-avg-review {
      font-size: 4rem;
      font-weight: 600;
      padding: 0;
    }

    #avg-reviews-container {
      display: grid;
      grid-template-columns: 100px 1fr;
    }

    #avg-stars-container {
      padding-top: 1rem;
    }

    #percent-recommended {
      font-size: .85rem;
    }

    #sort-reviews {
      font-weight: bold;
    }

    .review-content {
      margin-top: 2.5rem;
      border-bottom: 1px solid;
    }

    .review-summary {
      font-weight: bold;
      margin: 1rem 0;
    }

    .review-body {
      font-size: .85rem;
      margin-bottom: 1rem;
    }

    .helpful {
      color: rgb(121, 121, 121);
      font-size: .7rem;
      margin-bottom: 1rem;
    }

    .review-content-top-section {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .review-content-user-and-date {
      font-size: .85rem;
      place-self: end;
    }

    .btn {
      margin-top: 2rem;
      margin-right: 20px;
      font-weight: bold;
      color: #292929;
      background-color: white;
      border: 1px solid #292929;
      border-radius: 0;
      padding: 1.5em 2em;
      &:hover {
        background-color: lightgray;
      }
      &:active {
        background-color: lightslategrey;
      }
    }

  }
