.stars-container {
  display: inline-block;
  position: relative;
  width: 80px;

  .inner-stars-container {
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
  }

  .outer-stars-container {
    position: relative;
    color: black;
  }

  .inner-star {
    color: goldenrod;
  }
}
