* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  width: 100%;
  min-height: 100vh;
  border: 2px dotted red;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper > * {
  width: 900px;
  max-width: 100%;
}